[submodule "assets"]
	path = vendor/assets
	url = https://github.com/SBBTracker/assets.git
[submodule "build/SBBTracker"]
	path = vendor/SBBTracker
	url = https://github.com/SBBTracker/SBBTracker.git
