body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

label {
  padding-right: 1em;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  -webkit-appearance: unset;
  border-width: 1;
  border-style: solid;
  border-color: white;
  color: white;
  font-size: 2em;
  background-color: #282c34;
  text-align: end;
}

.app {
  text-align: center;
}
